<div class="row vcenter">
    <div class="col-xs-2" *ngIf="calculations">
        <div id="progress" class="progress-circle" Progress>
        </div>
    </div>
    <div [ngClass]="{'col-xs-10':calculations,'col-xs-12':!calculations}">
        <div class="alert" [ngClass]="{'alert-success':valid,'alert-warning':dirty,'alert-danger':error,'alert-info':calculations}" role="alert">
            <div class="row">
                <div class="col-xs-12">
                    {{message}}
                </div>
            </div>
            <div class="row" *ngIf="calculations">
                <div class="col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                            aria-valuemax="100" [style.width]="progress + '%'">
                            <span>{{progress}}%</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>