<modal-base>
  <ng-container class="app-modal-header">
    {{title}}
  </ng-container>
  <ng-container class="app-modal-body">
    <div class="containter-fluid">
      <div class="row">
        <div class="col-xs-5">
          <app-input [(inputs)]="inputs" (changeEvent)="onChange($event)"></app-input>
        </div>
        <div class="col-xs-7">
          <drawing2d drawing2dElement></drawing2d>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="hide()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="invalid" (click)="saveAndClose()">Save changes</button>
  </ng-container>
</modal-base>